<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Book Recommendation System</title>
  <link rel="stylesheet" href="../static/css/style.css"/>     
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body style="background-color: white">

   <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm navbar-inverse">
    <div class="container-fluid">
      <span class="navbar-text"><h1>Book Recommendation System</h1></span>
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item" >
          <a class="nav-link" href="/">Home</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="/recommend_book_ui">Recommend by Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommend_user_ui">Recommend by User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tableau">Data Insights</a>
        </li>
      </ul>
    </div>
  </nav>
    
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4 offset-md-4">
                <h1 class="text-header">Recommendations, based on Book Title</h1>
                <form action="/recommend_book", method="post">
                  <div class="input-group mb-3">
                    <input name="user_book" type="text" class="form-control input-lg" placeholder="Enter Book Title" id="inputlg"><br>
                    <div class="input-group-append">
                      <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                  </div>
              </form>
            </div>
          </div>


              <!-- Define column for the books -->
              <div class="col-lg-8 col-md-12">
                <div class="row">
                  <div class="col-12">
                    {% if book %}
                    <h2 class="text-black-left">Recommended Books, based on a '{{ book }}' Title</h2>
                    {% else %}
                    <h2 class="text-black"></h2>
                    {% endif %}
                  </div>
                </div>
                <!-- Book cards -->
                {% if data %}
                <div class="row">
                  {% for i in data %}
                  <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                        <img class="card-img-top" src="{{ i['Image-URL-M']  }}" alt="Image not available">
                                        <h2 class="text-black">{{ i['Book-Title']  }}</h2>
                                        <h4 class="text-grey">Author: {{ i['Book-Author']  }}</h4>
                                        <h4 class="text-grey">Publisher: {{ i['Publisher']  }}</h4>
                                </div>
                            </div>
                        </div>
                  {% endfor %}
                </div>
                {% endif %}
              </div>

              <!-- Column with Book Info table -->
               <div class="col-lg-4 col-md-12">
                <!-- Book Info Header -->
                {% if book %}
                  <h2 class="text-black-left">Details of a '{{ book }}' Title</h2>
                 <table class="table">
                  <!-- table header-->
                  <thead>
                    <tr>
                      <th>Book Feature</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- table rows-->
                    <tr>
                      <td>Author</td>
                      <td>{{book_d['Book-Author']}}</td>
                    </tr>
                    <tr>
                      <td>Publisher</td>
                      <td>{{book_d['Publisher']}}</td>
                    </tr>
                    <tr>
                      <td>Average Rating</td>
                      <td>{{avg_r}}</td>
                    </tr>
                  </tbody>
                </table>
                {% endif %}
              </div>
            </div>
        </div>
</body>
</html>
